@model CreateClassVM

<form asp-action="Create" method="post">
	<input asp-for="ClassName" class="form-control" type="text" placeholder="ClassName"/>
	<input asp-for="ClassTeacher" class="form-control" type="text" placeholder="ClassTeacher"/>
	<input class="btn btn-primary" type="submit" value="Create Class"/>
</form>

