@model CreateTeacherVM

<form  asp-action="Create" method="post">
	<input asp-for="Name" type="text" class="form-control" placeholder="Name" />
	<input asp-for="Surname" type="text" class="form-control" placeholder="Surname" />
	<input asp-for="ClassName" type="text" class="form-control" placeholder="ClassName" />
	<input class="btn btn-primary" type="submit" value="Create Teacher" />
</form>
