@model List<Teacher>

<a asp-action="Create" >Create</a>
	@foreach (var teacher in Model)
{

	<div class="text-center">
		<p>Name:@teacher.Name</p>
		<p>Surname::@teacher.Surname</p>
		<p>ClassName::@teacher.ClassName</p>
	</div>

	<div class="d-flex justify-content-center">
		<form asp-action="Delete" method="post" asp-route-Id="@teacher.Id">
			<input class="btn btn-outline-danger" type="submit" value="Delete"/>
		</form>
		<a class="btn btn-outline-warning" asp-action="Update" asp-route-Id="@teacher.Id">Update</a>
	</div>
	<hr />
	<hr />
}