@model UpdateDirectorVM

<form asp-action="Update" method="post">
	<input asp-for="Name" type="text" class="form-control" />
	<input asp-for="Surname" type="text" class="form-control" />
	<input asp-for="Age" type="number" class="form-control" />
	<input class="btn btn-primary" type="submit" value="Update Teacher" />
</form>
